{% extends "home/base.html" %}

{% block title %}Список предметів{% endblock %}

{% block content %}
 {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_css_about.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<body>
<section class="hero d-flex align-items-center" style="background: #f0f4ff; height: 100vh;">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="text-content w-50">
            <h1 class="display-4 text-uppercase">Interface Dashboard 2</h1>
            <p class="lead">A modern and minimal style for your next Dashboard Project</p>
            <p>Join the newsletter and get 2 months free with full access.</p>
        </div>
        <div class="image-content w-50">
             <img src="{% static 'images/my_image.jpg' %}" alt="Description of image">
        </div>
    </div>
</section>

<section class="intro">
    <div class="container-left">
        <h2>Наше покликання — ваша успішна підготовка</h2>
        <p>Платформа для підготовки до Національного мультипредметного тесту (НМТ) створена для тих, хто прагне отримати найкращі результати. Ми пропонуємо повний курс, заснований на перевірених методах навчання, з усіма необхідними інструментами для успішного складання тесту.</p>
    </div>
    <div class="container-right">
       <img src="{% static 'images/my_image.jpg' %}" alt="Description of image">
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

{% endblock %}
