{% extends "home/base.html" %}

{% block title %}Редагувати оголошення{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4">Редагувати оголошення</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Зберегти зміни</button>
        <a href="{% url 'post_list' %}" class="btn btn-secondary">Скасувати</a>
    </form>
</div>
{% endblock %}
