<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата за курси</title>
    <link href="{% static 'css/payment.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <a href="{% url 'home' %}" class="circle-icon">
        <i class="bi bi-reply"></i>
    </a>

    <div id="loadingScreen" class="loading-screen">
        <div class="loader"></div>
    </div>
    <div id="paymentForm" class="container" style="display: none;">
        <h2 class="title">Оплата за курс</h2>
        <p class="subtitle">Ваші дані правильні?</p>

        <p id="selectedBank" class="detail-row"></p>

        <div class="payment-details">
            <p id="selectedAmount" class="detail-row"></p>
            <p id="cardNumber" class="detail-row"></p>
            <p id="fullName" class="detail-row"></p>
        </div>
    </div>

    <script src="{% static 'js/payment.js' %}"></script>
</body>
</html>
