{% extends "profile_app/base.html" %}

{% block content %}
<html>
<head>
    <title>{{ test.title }}</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_detailist.css' %}">
</head>
<body>
    <h1 class="test-title">{{ test.title }}</h1>
    <div class="test-timer-container">
        <h2>Час на проходження: <span id="test-timer"></span></h2>
    </div>
    <form method="post" class="test-form">
        {% csrf_token %}
        {% for question in questions %}
            <div class="question-block">
                <p class="question-text">{{ question.text }}</p>
                {% for answer in question.answers.all %}
                    <div class="answer-option">
                        <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}" id="answer_{{ answer.id }}">
                        <label for="answer_{{ answer.id }}" class="answer-label">{{ answer.text }}</label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="submit-test-button">Завершити тест</button>
    </form>

    <script>
        let timeLeft = {{ test.duration }} * 60;

        function updateTimer() {
            let minutes = Math.floor(timeLeft / 60);
            let seconds = timeLeft % 60;
            document.getElementById("test-timer").innerText = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;

            if (timeLeft <= 0) {
                clearInterval(timerInterval);
                alert("Ваш час вийшов!");
                window.location.href = "{% url 'time_up' test.id %}";
            } else {
                timeLeft--;
            }
        }

        window.onload = function() {
            timerInterval = setInterval(updateTimer, 1000);
        };
    </script>
</body>
</html>
{% endblock %}
