@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

body {
    font-family: 'Georgia', serif;
    background-color: #FFEB3B;
    margin: 0;
    padding: 0;
}

.custom-study-header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #2D336B;
    padding: 20px 0;
    border-bottom: 3px solid #2D336B;
    max-width: 500px;
    margin: 30px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: moveUpDown 2s infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.custom-container ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    max-width: 900px;
}

.custom-container li {
    margin: 18px 0;
}

.custom-subject-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    padding: 25px 20px;
    border-radius: 12px;
    color: #1c2f40;
    background: #d4e6f1;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border: 2px solid #a2c0dd;
    font-family: 'Times New Roman', serif;
    position: relative;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    min-height: 70px;
}

.custom-subject-link i {
    font-size: 24px;
    color: #2D336B;
}

.custom-subject-link:hover {
    background: #a2c0dd;
    border-color: #7fa0c0;
    transform: translateY(-3px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.custom-subject-link:hover i {
    color: #1c2f40;
}

.custom-theory-link {
  position: absolute;
  top: 80px;
  right: 40px;
  background-color: #2D336B;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.custom-theory-link:hover {
  background-color: #1c244a;
}