@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

body {
    font-family: 'Georgia', serif;
    background-color: #E8F9FF;
}

.test-title {
    color: #2D336B;
    text-align: center;
    margin-top: 20px;
    font-size: 56px;
}

.test-timer-container h2 {
    text-align: center;
    color: #0288d1;
    font-size: 1.5em;
}

.test-timer-container {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.test-form {
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
}

.question-text {
    font-size: 1.2em;
    margin: 15px 0;
    font-weight: bold;
    color: #0277bd;
}

.question-block {
    background: #D9EAFD;

    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 10px rgba(0, 137, 255, 0.1);
}

input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2);
    accent-color: #039be5;
}

.answer-label {
    font-size: 1.1em;
    cursor: pointer;
    transition: color 0.3s;
}

.answer-label:hover {
    color: #01579b;
}

.submit-test-button {
    background: #213555;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    display: block;
    margin: 20px auto;
}

.submit-test-button:hover {
    background: #0277bd;
    transform: scale(1.05);
}

#test-timer {
    font-weight: bold;
    color: #d32f2f;
    font-size: 1.3em;
}
