{% extends 'profile_teacher/base_teacher.html' %}

{% block title %}Профіль вчителя{% endblock %}
{% load static %}

{% block content %}
<style>
    html, body {
        height: 100%;
        background: #E8F9FF;


    }
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .edit-profile-container {
        max-width: 600px;
        margin: 40px auto;
        padding: 25px;
        border-radius: 20px;
    }
    .edit-profile-container h1 {
        text-align: center;
        color: #2D336B;
        font-size: 38px;

    }
    .edit-profile-container button {
        width: 100%;
        padding: 10px;
        background: linear-gradient(135deg, #007bff, #0056b3);
        border: none;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        transition: background 0.3s ease, transform 0.2s ease;
    }
    .edit-profile-container button:hover {
        background: linear-gradient(135deg, #0056b3, #004494);
        transform: scale(1.05);
    }
    .edit-profile-container .link-container {
        text-align: center;
        margin-top: 15px;
    }
    .edit-profile-container .link-container a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        transition: color 0.3s ease;
    }
    .edit-profile-container .link-container a:hover {
        color: #0056b3;
    }
    .edit-profile-container input, .edit-profile-container select, .edit-profile-container textarea {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: 2px solid #007bff;
        border-radius: 10px;
        font-size: 16px;
        background: #f9f9f9;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }
    .edit-profile-container input:focus, .edit-profile-container select:focus, .edit-profile-container textarea:focus {
        border-color: #0056b3;
        box-shadow: 0 0 8px rgba(0, 91, 187, 0.5);
        outline: none;
    }
</style>

<div class="edit-profile-container">
    <h1>Редагувати свій профіль</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">{{ form.as_p }}</div>
        <button type="submit">Зберегти</button>
    </form>
    <div class="link-container">
        <a href="{% url 'teacher_profile' %}">Назад до профілю</a>
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% endblock %}
