{% extends 'profile_teacher/base_teacher.html' %}

{% block title %}Профіль вчителя{% endblock %}

{% block content %}
    <h1>Профіль вчителя</h1>

    {% if profile.photo %}
        <img src="{{ profile.photo.url }}" alt="Фото профілю" width="150">
    {% else %}
        <p>[Фото відсутнє]</p>
    {% endif %}

    <p><strong>Ім'я користувача:</strong> {{ request.user.username }}</p>
    <p><strong>Вік:</strong> {{ profile.age }}</p>
    <p><strong>Email:</strong> {{ profile.email }}</p>
    <p><strong>Телефон:</strong> {{ profile.phone_number }}</p>
    <p><strong>Формат навчання:</strong> {{ profile.get_teaching_mode_display }}</p>
    <p><strong>Локація:</strong> {{ profile.location }}</p>

    <p><strong>Предмети викладання:</strong>
        {% if profile.subjects %}
            <ul>
                {% for subject in profile.get_subjects_list %}
                    <li>{{ subject }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <span>Не вказано</span>
        {% endif %}
    </p>

    <h2>Про себе:</h2>
    <p>{{ profile.bio|linebreaks }}</p>

    <a href="{% url 'teacher_profile_edit' %}" class="btn btn-primary">Редагувати профіль</a>
{% endblock %}
