@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0f7fa;
    color: #0277bd;
    font-family: 'Playfair Display', serif;
}
.container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px auto;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}



.contact-info {
    background: #b3e5fc;
    border-radius: 15px;
    padding: 30px;
    flex: 1;
}

.contact-form {
    padding: 30px;
    flex: 1;
    border-radius: 15px;
    background: #ffffff;
}

.contact-info h1 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #01579b;
}

.contact-info .description {
    font-size: 14px;
    color: #0277bd;
}

.info {
    margin-bottom: 15px;
}

.info h3 {
    font-size: 16px;
    color: #01579b;
}

.info p {
    font-size: 14px;
    color: #0277bd;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #0277bd;
    text-decoration: none;
    font-weight: bold;
}

.contact-form h2 {
    font-size: 22px;
    color: #0277bd;
}

.contact-form p {
    font-size: 14px;
    color: #0277bd;
    margin-bottom: 15px;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #0288d1;
    background: #e1f5fe;
    color: #0277bd;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.contact-form form textarea {
    height: 80px;
    resize: none;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #0288d1;
    color: white;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
}

.contact-form button:hover {
    background: #0277bd;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .contact-info, .contact-form {
        padding: 20px;
    }

    .contact-info {
        border-radius: 15px 15px 0 0;
    }
}


