body {
    background-color: #E8F9FF;
}

.container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px auto;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}



.contact-info {
    border-radius: 15px;
    padding: 30px;
    flex: 1;
}

.contact-form {
    padding: 30px;
    flex: 1;
    border-radius: 15px;
    background: #D4EBF8;
}

.contact-info h1 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #01579b;
}

.contact-info .description {
    font-size: 14px;
    color: #0277bd;
}

.info {
    margin-bottom: 15px;
}

.info h3 {
    font-size: 16px;
    color: #01579b;
}

.info p {
    font-size: 14px;
    color: #0277bd;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #0277bd;
    text-decoration: none;
    font-weight: bold;
}

.contact-form h2 {
    font-size: 22px;
    color: #0277bd;
}

.contact-form p {
    font-size: 14px;
    color: #0277bd;
    margin-bottom: 15px;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #0288d1;
    background: #e1f5fe;
    color: #0277bd;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.contact-form form textarea {
    height: 80px;
    resize: none;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #0288d1;
    color: white;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
}

.contact-form button:hover {
    background: #0277bd;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .contact-info, .contact-form {
        padding: 20px;
    }

    .contact-info {
        border-radius: 15px 15px 0 0;
    }
}




.alert-messages {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    margin: 20px auto 0 auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.alert-messages .alert {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
}

.alert-success {
    background-color: #4DA1A9;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.rotating-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.1;
    pointer-events: none;
    animation: rotateLogo 20s linear infinite;
}

.rotating-background img {
    width: 800px;
    height: 800px;

}

@keyframes rotateLogo {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.contact-form button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #123458;
    color: white;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
}

